################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/i7540dserialadapter/v16
/debug
/release
/x64
bin/*
moc/*
obj/*
*.stash
*.a
*.dll
docCopy/*
