################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/i7540dserialadapter/v16
/debug
/release
/x64
bin/*
moc/*
obj/*
*.stash
/obj/qt5.12.x/x86_64-windows-mingw/debug/i7540dserialadapter
/moc/qt5.12.x/x86_64-windows-mingw/debug/i7540dserialadapter
*.a
*.dll
/.vs/i7540dserialadapter/config/applicationhost.config
docCopy/*
